/* general */

body {
	font-family: 'Raleway', sans-serif;
	background-color: #edf1f2;
}

.container-fluid {
	max-width: 1200px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	border-radius: 6px;
	text-transform: uppercase;
	font-weight: 700;
}

#region-main {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 12px;
	box-shadow: 0 2px 22px 0 rgba(186, 186, 186, 0.44);
}

.pagelayout-legacynolayout #page-content {
	padding-top: 20px;
}

.usermenu .login .btn-primary {
	margin-left: 5px;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-color: transparent;
   box-shadow: none;
   background-image: url(../pix/select_img.png);
   background-repeat: no-repeat;
   background-position: 95% center;
   padding-right: 20px;
   background-size: 10px;
}

@media(max-width: 991px) {
    #region-main {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* general */

/* hedader */

/*.totaraNav {
    margin-bottom: 0;
}*/

.totaraNav_prim {
	padding: 8px 0;
}

nav.totaraNav_prim .container-fluid {
    min-height: 65px;
}

.totaraNav_prim .masthead_logo--header_img {
    height: 55px;
}

.totaraNav_prim .totaraNav--expand_indent .totaraNav--icon_chevron {
	color: #812d74;
}

/*.totaraNav_prim--list_item_label::after,
.totaraNav_prim--list_item_link:focus .totaraNav_prim--list_item_label::after, .totaraNav_prim--list_item_link:hover .totaraNav_prim--list_item_label::after {
	border-color: #002333;
}

.totaraNav_prim--list_item_selected .totaraNav_prim--list_item_label::after {
	border-color: #002333;
}

.totaraNav_prim--list_item_selected .totaraNav_prim--list_item_link:focus .totaraNav_prim--list_item_label::after, .totaraNav_prim--list_item_selected .totaraNav_prim--list_item_link:hover .totaraNav_prim--list_item_label::after {
	border-color: #002333;
}*/

.totaraNav_prim--list_item_link {
	text-transform: uppercase;
	font-weight: 700;
}

.totaraNav_prim--side .usermenu .usertext {
	color: #002333;
	font-weight: 700;
}

.totaraNav_prim--side .usermenu .caret {
	color: #812d74;
}

@media (min-width: 992px) {
	.totaraNav_prim--list {
	    margin-left: auto;
	}	
}

@media(max-width: 991px) {
    .totaraNav_prim .masthead_logo {
        flex-basis: inherit;
    }
    .totaraNav_prim .masthead_logo--header_img {
        height: 25px;
    }
    .totaraNav_prim--toggleNav {
        display: flex;
        align-items: center;
    }
    .popover-region-messages, .popover-region-notifications {
        display: none;
    }
    .totaraNav_prim--list_showMobile {
        top: 0;
    }
}

/* header */

/* footer */

#page-footer {
	border-top: none;
	background-color: #002333;
	padding: 30px 0;
	font-size: 16px;
	color: #fff;
}

.page-footer .container-fluid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-footer .container-fluid:before, .page-footer .container-fluid:after {
	content: none;
}

.footer-container-left {
	display: flex;
	align-items: center;
}

.page-footer a {
	font-weight: 700;
}

.footer-container-left img {
	margin-right: 15px;
}

@media(max-width: 991px) {
    #page-footer {
        padding: 15px 0;
    }
    .page-footer .container-fluid {
        flex-direction: column;
    }
}

/* footer */

/* loginpage */

#page-login-index {
    background: url(../pix/bg-login.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-login-index .page-footer {
    display: none;
}

.path-login #login_hero-image {
  display: none;
}

#page-login-index #page {
    align-items: flex-end;
    padding-right: 0;
    padding-left: 0;
    max-width: none;
    background-color: transparent;
}

#page-login-index #page-content {
    padding-top: 0;
    min-width: 44.7%;
    max-width: 44.7%;
    padding-right: 15px;
    padding-left: 15px;
    background: url(../pix/login_box_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#page-login-index #region-main {
    padding: 0;
    background-color: transparent;
}

#page-login-index div[role="main"] {
    align-items: center;
}

#page-login-index .loginbox.onecolumn {
    width: 70%;
    background: inherit;
    border: none;
    border-radius: 0;
    color: #fff;
    left: inherit;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-login-index .loginbox.onecolumn .loginpanel {
    width: 100%;
}

.loginpanel > h2 {
    font-size: 33px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.path-login hr {
    display: none;
}

.loginbox .loginform .form-label {
    display: none;
}

.loginbox .loginform .form-input input[type="text"], .loginbox .loginform .form-input input[type="password"] {
    min-height: 43px;
    color: #000;
    font-size: 18.67px;
    font-weight: 700;
    border-radius: 0;
    border: none;
}

.loginbox .loginform .form-input input[type="text"] {
    margin-bottom: 15px;
}

#username::-webkit-input-placeholder, #password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
#username::-moz-placeholder, #password::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
#username:-ms-input-placeholder, #password:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
#username:-moz-placeholder, #password:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.loginbox input[type="submit"] {
    margin: 10px 0 0;
    margin-top: 20px;
    min-height: 47px;
    /*color: #fff;*/
    /*background-color: #238A9A;*/
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 1px;
    text-transform: uppercase;
}

.forgetpass {
    margin-top: 10px;
}

.forgetpass > a {
    color: #fff;
}

.loginbox .desc {
    color: #fff;
    margin-top: 0;
}

.loginbox .desc .iconhelp {
    color: #fff !important;
}

@media(max-width: 991px) {
    #page-login-index #page-content {
        min-width: 100%;
        max-width: 100%;
    }
}

/* loginpage */

/* blocks */

.block {
	border: none;
	border-radius: 6px;
	box-shadow: 0 2px 22px 0 rgba(186, 186, 186, 0.44);
}

.block .header {
	border-bottom: none;
}

.block .block-title {
	box-shadow: none;
}

.block .block-header h2 {
	color: #002333;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 700;
}

/*.block a, .block a:hover {
	color: #002333;
}*/

.block a.action-icon, .block a.action-icon:hover {
	color: #812d74;
}

.block .tree_item span.flex-icon {
    color: #812d74;
}

.block a .flex-icon {
	color: #812d74;
}

.moodle-core-dragdrop-draghandle {
    color: #812d74;
}

.block_admin_subnav .block_tree .tree_item .tfont-var-caret-down-fill, .block_admin_subnav .block_tree .tree_item .tfont-var-caret-right-fill {
	color: #812d74;
}

.block.chromeless.block.block_totara_community {
    box-shadow: 0 2px 22px 0 rgba(186, 186, 186, 0.44);
    padding: 15px;
}

/* blocks */

/* -- SCROLL TOP */

.scrollBtn {
    z-index: 10;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    text-align:center; 
    color: #fff;
    background-color: #812d74;
    text-decoration: none;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 5px 7px 0 rgba(0,35,51,.17);
    background-color: #812d74;
    font-size: 18px !important;
    line-height: 40px;
}
.scrollBtn:hover {
    text-decoration: none;
}

.scrollBtn .fa {
	vertical-align: baseline;
}

/* -- SCROLL TOP END */

/* breadcrumb */

.breadcrumb-nav .breadcrumb {
    padding-left: 0;
}

.breadcrumb a {
    font-weight: 700;
}

.breadcrumb>li+li:before {
    color: #002333;
    font-weight: 700;
}

.breadcrumb > li > span {
    color: #002333;
    font-weight: 700;
}

.breadcrumb li:last-child a, .breadcrumb li:last-child span {
    color: #002333;
    text-decoration: none;
    font-weight: 700;
}

.pagelayout-course .breadcrumb>li+li:before {
    color: #fff;
}

.pagelayout-course .breadcrumb > li > span {
    color: #fff;
}

.pagelayout-course .breadcrumb li:last-child a, .pagelayout-course .breadcrumb li:last-child span {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .breadcrumb-nav {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .breadcrumb-button .singlebutton {
        margin-bottom: 5px;
    }
    .breadcrumb-container>li {
        font-size: 12px;
    }
    .breadcrumb-container input {
        font-size: 12px;
    }
}

/* breadcrumb */

/* coursepage */

#region-main {
	padding-top: 15px;
	padding-bottom: 15px;
}

.course-banner {
	background: url(../pix/header.jpg) center center no-repeat;
	min-height: 204px;
	background-size: cover;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagelayout-course .totaraNav {
	margin-bottom: 0;
}

.slider-title h1 {
	color: #fff;
	font-weight: 700;
	margin: 0;
}

.slider-title-cf {
	width: 100%;
}

.course-progress-bar {
	height: 7px;
	background-color: #dedede;
}

.course-progress-bar span {
	background-color: #74b743;
	height: 7px;
	display: block;
}

.sectionname {
    font-size: 26px;
    font-weight: 700;
}

.pagelayout-course .activityinstance {
    font-size: 16px;
    font-weight: 700;
}

.pagelayout-course .activityinstance > a .activityicon {
    color: #812D75;
}

#page-course-view-topics span[data-flex-icon="core|i/completion-manual-n"]:before {
    content: url(../pix/unmarked.png);
}

#page-course-view-topics span[data-flex-icon="core|i/completion-manual-y"]:before {
    content: url(../pix/marked.png);
}

#page-course-view-topics span[data-flex-icon="core|i/completion-auto-n"]:before {
    content: url(../pix/unmarked-auto.png);
}

#page-course-view-topics span[data-flex-icon="core|i/completion-auto-y"]:before {
    content: url(../pix/marked-auto.png);
}

#page-course-view-topics span[data-flex-icon="core|i/completion-auto-pass"]:before {
    content: url(../pix/unmarked-auto.png);
}

#page-course-view-topics span[data-flex-icon="core|i/completion-auto-fail"]:before {
    content: url(../pix/marked-auto.png);
}

.course-content ul li.section.main {
    border-bottom: 1px solid #dedede;;
}

.pagelayout-course .activityinstance .instancename {
    margin-left: 10px;
}

.pagelayout-course .activityinstance > a {
    display: flex;
    align-items: center;
}

.pagelayout-course .activityinstance > a:hover {
	text-decoration: none;
}

@media(max-height: 991px) {
    .slider-title h1 {
        font-size: 27px;
    }
}

/* coursepage */

/* html editor */

.atto_collapse_button .flex-icon.ft-fw, .atto_collapse_button.highlight, .editor_atto_toolbar button:hover {
    color: #999 !important;
}

.editor_atto .fa-caret-down:before {
    color: #999;
}

.editor_atto_menu_expand .flex-icon {
	color: #999;
}

/* html editor */

/* find learning */

#page-totara-catalog-index #region-main {
	background-color: transparent;
}

#region-main div[role=main] h2.tw-catalog__title {
	color: #002333;
	font-weight: 700;
}

.tw-catalogManageBtns__btn {
	text-transform: uppercase;
	font-weight: 700;
}

.tw-catalog__primaryFilter {
  	border-top: 2px solid #dedede;
  	border-bottom: 2px solid #dedede;
}

.tw-selectTree__label {
	/*font-weight: 700;*/
	padding-left: 0;
}
.tw-selectTree__current {
    font-weight: 400;
}
.tw-selectTree__current:focus, .tw-selectTree__current:active, .tw-selectTree__current:focus, .tw-selectTree__current:hover, .tw-selectTree__current.tw-selectTree__active {
  border-color: transparent;
}

.tw-selectTree__current_label {
	color: #2d813a;
}

.tw-selectTree__current .tw-selectTree__current_icon {
	color: #812d74;
}

.tw-selectSearchText {
	padding-right: 0;
}

.tw-selectRegionPrimary .tw-selectTree__label {
    font-weight: 700;
}

.tw-selectRegionPrimary .tw-selectTree__current {
    font-weight: 700;
}

.tw-selectSearchText__field_input {
	background-color: #dedede;
	border: none;
	color: #002333;
	font-weight: 700;
}

.tw-selectSearchText button.tw-selectSearchText__btn {
	background-color: #dedede;
	border: none;
}

.tw-selectSearchText__btn .tfont-var-search {
	color: #812d74;
}

.tw-selectSearchText__field_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #002333;
}
.tw-selectSearchText__field_input::-moz-placeholder { /* Firefox 19+ */
  color: #002333;
}
.tw-selectSearchText__field_input:-ms-input-placeholder { /* IE 10+ */
  color: #002333;
}
.tw-selectSearchText__field_input:-moz-placeholder { /* Firefox 18- */
  color: #002333;
}

.tw-selectSearchText__field_input:focus, .tw-selectSearchText__btn:focus {
	outline: none;
	border: none;
}

.tw-selectSearchText__btn:hover {
	box-shadow: none;
}

.tw-selectRegionPanel__heading_text {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 0;
    color: #002333;
    margin-bottom: 20px;
}

.tw-catalogResultsCount__text {
    color: #002333;
    font-weight: 700;
}

.tw-catalogResultsShare__btn {
	font-weight: 700;
}

.tw-selectRegionPanel__selector_header {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 20px;
    margin-left: 0;
    color: #002333;
    margin-bottom: 10px;
}

.tw-selectMulti__link {
	margin-bottom: 10px;
}

.tw-catalogItemNarrow__image {
	padding-top: 55%;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}

.tw-catalogItemNarrow__image_ratio {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}

.tw-catalogItemNarrow__title {
	height: auto;
	font-size: 22px;
}

.tw-catalogItemNarrow__description {
	height: auto;
	color: #002333;
	font-size: 16px;
}

.tw-catalogItemNarrow__iconRow {
	height: auto;
	color: #002333;
	font-size: 16px;
}

.tw-catalogItemNarrow {
	border-radius: 12px;
	border: none;
	box-shadow: 0 2px 22px 0 rgba(186, 186, 186, 0.44);
}

.tw-catalogItemNarrow__content {
	padding: 15px;
}

.tw-catalogItemNarrow__title .tw-catalogItemNarrow__ellipsis {
	color: #002333;
}

.tw-catalogItemNarrow__textarea_group_item {
	color: #002333;
	font-size: 16px;
}

@media (min-width: 1200px) {
  .tw-grid__item--multi-column {
    min-width: inherit;
    max-width: inherit;
    width: 33.3%;
    flex-basis: 33.3%;
  }
}

@media (max-width: 1199px) {
  .tw-grid__item--multi-column {
    min-width: inherit;
    max-width: inherit;
    width: 33.3%;
    flex-basis: 33.3%;
  }
}

@media (max-width: 1050px) {
  .tw-grid__item--multi-column {
    width: 50%;
    flex-basis: 50%;
    min-width: inherit;
    max-width: inherit;
  }
}

@media (max-width: 767px) {
  .tw-grid__item--multi-column {
    width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
	.tw-catalog__primaryFilter {
	    padding-left: 0;
	    padding-right: 0;
	}
}

/* find learning */

/* three col first  */

.three-col-section {
	color: #002333;
	padding: 50px 0;
	background-color: #fff;
}

.three-col-section-container-top {
	text-align: center;
}

.three-col-section-title {
	font-size: 38px;
    font-weight: 700;
    letter-spacing: .95px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

.three-col-section-desc {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 48px;
}

.three-columns-section-container-bottom {
	display: flex;
}

.three-col-section-container-bottom {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 2px 22px 0 rgba(186, 186, 186, 0.44);
	margin: 0 15px;
	padding: 35px 25px;
}

.three-col-section-container-bottom.bottom-l {
	margin-left: 0;
}

.three-col-section-container-bottom.bottom-r {
	margin-right: 0;
}

.three-col-section-container-bottom-img {
	margin-bottom: 15px;
}

.three-col-section-container-bottom-img img {
	max-width: 95px;
}

.three-col-section-container-bottom-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}

.three-col-section-container-bottom-desc {
	font-size: 16px;
}

@media(max-width: 991px) {
    .three-col-section {
        padding: 25px 0;
    }
    .three-columns-section-container-bottom {
        flex-direction: column;
    }
    .three-col-section-container-bottom {
        margin: 0;
        margin-bottom: 15px;
        padding: 15px 10px;
    }
    .three-col-section-container-bottom-title {
        font-size: 20px;
    }
    .three-col-section-title {
        font-size: 27px;
    }
}

/* three col first  */

/* three col green  */

.three-col-section.three-col-section-green {
	background-image: linear-gradient(to bottom, #458f3b, #73b741);
}

.three-col-section.three-col-section-green .three-col-section-title {
	color: #fff;
	margin-bottom: 30px;
}

.three-col-section.three-col-section-green .three-col-section-container-bottom-img {
	margin: -35px -25px 0 -25px;
}

.three-col-section.three-col-section-green .three-col-section-container-bottom-img img {
	max-width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.three-col-section.three-col-section-green .three-col-section-container-bottom-title {
	padding-top: 25px;
}

.three-col-section.three-col-section-green .three-col-section-container-bottom-desc {
	margin-bottom: 15px;
}

@media(max-width: 991px) {
    .three-col-section.three-col-section-green .three-col-section-container-bottom-img {
        margin: -16px -11px 0 -11px;
    }
}

/* three col green  */

/* two col first */

.two-col-section.two-col-section-first {
	background: url(../pix/2-col-bg.png);
	background-size: cover;
	background-position: bottom center;
	color: #002333;
}

.two-col-section .container-fluid {
	display: flex;
}

.two-col-section-left {
	padding: 100px 0;
	flex-basis: 50%;
}

.two-col-section-right {
	padding: 100px 0;
	flex-basis: 50%;
}

.two-col-section-title {
	font-size: 38px;
    font-weight: 700;
    letter-spacing: .95px;
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.two-col-section-list-element {
	margin-bottom: 30px;
	display: flex;
}

.two-col-section-list-element .fa-check {
	color: #e2badc;
	font-size: 80px;
	margin-right: 15px;
}

.two-col-section-list-element .two-col-section-list-element-text {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	align-items: center;
}

@media(max-width: 991px) {
    .two-col-section-left, .two-col-section-right {
        padding: 30px 0;
    }
    .two-col-section-title {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .two-col-section-list-element {
        margin-bottom: 10px;
    }
    .two-col-section-list-element .fa-check {
        font-size: 50px;
    }
    .two-col-section-list-element .two-col-section-list-element-text {
        font-size: 16px;
    }
    .two-col-section-first .two-col-section-right {
        flex-basis: 100%;
    }
    .two-col-section-first .two-col-section-left {
        flex-basis: 0;
    }
}

/* two col first */

/* two col second */

.two-col-section.two-col-section-second {
	background: url(../pix/Banner2.jpg) center;
	padding: 50px 0;
	background-size: cover;
	color: #fff;
}

.two-col-section-second .two-col-section-left {
	flex-basis: 52%;
}

.two-col-section-second .two-col-section-right {
	flex-basis: 58%;
}

.two-col-section-subtitle {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 15px;
}

.two-col-section-desc {
	font-size: 16px;
	margin-bottom: 40px;
}

.two-col-section-btn {
	font-weight: 700;
}

.two-col-section-btn:hover {
	color: #fff;
}

@media(max-width: 991px) {
    .two-col-section.two-col-section-second {
        padding: 30px 0;
    }
    .two-col-section-second .two-col-section-right {
        flex-basis: 0;
    }
    .two-col-section-second .two-col-section-left {
        flex-basis: 100%;
    }
}

/* two col second */

/* frontpage */

#page-site-index .totaraNav {
	margin-bottom: 0;
}

/* frontpage */

/* warning alert */

.alert-warning {
	border-color: #812d74;
}

.alert-warning .alert-icon {
	background: #812d74;
}

/* warning alert */